<div class="container">
  <h1>Search results</h1>
  <h2>Your query for "<%= @query %>" returned <%= pluralize(@results_count, 'bot')%>.</h2>
  <%= paginate @search_results %>
  <div class="row">
  <% @search_results.each do |product| %>
  <div class="col s4">
  <%= render partial: 'products/product', object: product %>
  </div>
  <% end %>
  </div>
</div>