<h1>Search results</h1>
<h2>Your query for "<%= @query %>" returned <%= pluralize(@results_count, 'bot')%>.</h2>
<%= paginate @search_results %>
<% @search_results.each do |product| %>
 <%= render partial: 'products/product', object: product %>
 <% end %>